.poppins{
  font-family: "Poppins", serif;
  
}

@keyframes scale-up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.animate-scale-up-center {
  animation: scale-up 0.5s forwards;
}




@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ringing-bell {
  display: inline-block;
  animation: ring 1s infinite;
  transform-origin: top center; 
}
